name: Compilar Terminal LJ27 (Slideshow + Relogio)

on: 
  workflow_dispatch: 
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Instalar Dependencias
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller pillow requests

    - name: Compilar com PyInstaller (Modo Pasta)
      # Adicionamos --collect-all para garantir que o Pillow e Requests sejam incluídos corretamente
      run: |
        pyinstaller --noconsole --onedir --name "Terminal_LJ27" main.py

    - name: Salvar Pasta do Executavel
      uses: actions/upload-artifact@v4
      with:
        name: Terminal_LJ27_Completo
        path: dist/Terminal_LJ27/
