name: Compilar Terminal LJ27 Final

on: 
  workflow_dispatch: 
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Instalar Dependencias
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller pillow requests

    - name: Compilar com PyInstaller
      # --noconsole: esconde a janela preta de fundo
      # --onedir: cria a pasta (melhor para o WithSecure)
      # --collect-all: garante que todas as sub-dependências sejam incluídas
      run: |
        pyinstaller --noconsole --onedir --collect-all requests --collect-all PIL --name "Terminal_LJ27" main.py

    - name: Salvar Pasta do Executavel
      uses: actions/upload-artifact@v4
      with:
        name: Terminal_LJ27_Completo
        path: dist/Terminal_LJ27/
